@media screen and (max-width: 414px) {

    #header h1 {
        line-height: 1em;
    }

    #header {
        height: 100%;
    }

    .homeImage {
        padding-top: 30px;
        height: 100%;
    }

    .homeInfo {
        height: 100%;
        margin-top: 1.2rem;

    }

    /* .subtitleHome {
        height: 100%;
    } */

    .contentHeader {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 0;
        height: 100%;

    }

    header {
        padding-top: 0;
    }

    .homeInfo {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 100%;
    }

    .homeName {
        font-size: 1rem;
        text-align: center;
    }

    .inner {
        height: 100%;
    }


    .homeSubtitle {
        font-size: .9rem;
        text-align: center;
        font-weight: 530;
    }

    .subtitleHome {
        padding-top: 1em;
        width: 100%;
        /* width: 340px; */
        
    }

}