@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.containerHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.contText {
  padding: 0px 6%;
  gap: 32px;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeInfo {
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 70%;
}

.point {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: #333;
}

.titleHome {
  display: flex;
  flex-direction: column;
  height: fit-content;
  position: relative;
}

.contName {
  display: flex;
  align-items: center;
  gap: 32px;
}

.homeName,
.homeLastname {
  font-family: 'Poppins';
  color: #000;
  font-size: 5.4rem;
  letter-spacing: 5px;
  line-height: 0.9em;
  height: fit-content;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0px;
}

.homeLastname {
  width: fit-content;
  padding-left: 70px;
}

.homeSubtitle {
  font-size: 1.4rem;
  font-family: 'Poppins';
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 1em;
  color: #000;
}

.subtitleHome {
  display: flex;
  align-items: center;
  gap: 16px;
}

.line {
  display: flex;
  max-width: 250px;
  width: 220px;
  height: 1px;
  background-color: #333;
}

.contYear {
  display: flex;
  text-align: end;
  /* border: 1px solid red; */
  position: relative;
}

.since {
  position: absolute;
  bottom: 10px;
  right: 30px;
  font-weight: 700;
  font-size: 2rem;
}

.year {
  color: #fff;
  font-size: 14rem;
  font-weight: 700;
  line-height: 1;
}

.homeImage {
  width: 50%;
  height: 100%;
}

.homeAbout {
  padding: 5px;
}

.contImg {
  display: flex;
  width: 90%;
  height: 400px;
}

.imgProfile{
  object-fit: cover;
  object-position: center top;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .containerHome {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .contText {
    flex-direction: column;
    width: 100%;
  }

  .homeInfo {
    width: 100%;
  }

  .contName, .titleHome {
    align-items: flex-end;
    width: 100%;
  }

  .homeName, .homeLastname {
    font-size: 2.8rem;
    padding: 0;
    text-align: end;
  }

  .point {
    width: 25px;
    height: 25px;
  }

  .homeSubtitle {
    font-size: 32px;
  }

  .subtitleHome {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .homeSubtitle {
    text-align: start;
    font-size: 1.4rem;
  }

  .line {
    width: 100%;
    max-width: 100%;
  }

  .year {
    font-size: 8rem;
  }

  .since {
    font-size: 1.5rem;
    bottom: 5px;
    right: 20px;
  }

  .contImg {
    height: 250px;
  }
}

@media screen and (min-width: 480px) and (max-width: 950px) {
  .containerHome {
    background-position: center;
  }

  .contText,
  .contSvg {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contSvg {
    width: 90%;
  }

  .svgHome {
    height: 20rem;
  }
}
