.carousel{
    height: 200px;
}

.carouselImg{
    height: 200px;
}

.img{
    height: 200px;
}

.carouselContGym{
    height: 350px;
    width: 260px;
}

.carouselGym{
    height: 350px;
    width: 260px;
}

.imgGym{
    height: 350px;
}