@media screen and (max-width: 414px) {

    .cont-about {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .img-content {
        width: auto;
    }

    .aboutDescription {
        text-align: justify;
        margin-right: 0;
        padding: 0 1.2rem 0 1.2rem;
    }

}