@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.nav{
    position: fixed;
    width: 99%;
    font-family: 'Bebas Neue';
}   

.primary-menu {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.mobile-nav {
    display: none;
}

.item-text {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

}

.item-nav {
    border: 2px solid black;
    width: 25%;
}

.cont-items-nav {
    width: 80%;
    /* background: yellow; */
}
.primary-menu {
    margin: 0;
    height: 68px;
    /* background: yellow; */
}

.primary-menu li {
    display: inline-block;
    width: 25%;
    height: 100%;
}

.primary-menu a {
    color: #fff;
    position: relative;
    text-decoration: none;
    font-size: 26px;
    letter-spacing: 2px;
    /* padding: 12px 10px; */
    transition: .4s;
}
.primary-menu a:hover,
.primary-menu .active {
    color:black;
}

.primary-menu li a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: #fafafa;
    bottom: 7px;
    left: 0;
    transition: all .5s;
}

.primary-menu li a:hover:after {
    width: 100%;
}

.primary-menu li .active:after {
    width: 100%;
}

ul {
    padding-inline-start: 0;
}

.containerNav{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
    font-family: Bebas Neue, 'Arial Narrow Bold', sans-serif;
    height: 70px;
    width: 100%;
    background: #65A2CB;

}

/*  */

.containerItem{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    width: 20%;
    border: 2px solid black;


}


.navItem{
    font-size: 26px;
    width: 100%;
    height: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    color: white;
    text-decoration: none;

}

/*  */
.mobile-nav {
    float: right;
    margin: 5px;
    padding: 10px;
    font-size: 24px;
    color: #83ffd8;    
    outline: none;
    cursor: pointer;
}



