@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredoka+One&family=Poppins:wght@500&family=Roboto&family=Staatliches&display=swap');
html body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;

}

h4{
  margin: 0;
}

html {
  height: 100%;
  /* width: 100% */
}

body {
  background: #ffff;

}
