@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* .divtop{
    width: 100%;
    height: 70px;
} */

.avatar{

    width: 200px;
    height:300px;
    border-radius:150px;
    border-width: 2.5px;
    border-style: solid;
    border-color: black;
}

header {
    margin-top: 0;

}

#header > * {
    width: 100%;
}

#header > .inner {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    /* margin: 0 0 2em 0; */
}

#header h1 {
    font-size: 1.35em;
    line-height: 1.75em;
    margin: 0;
}


.inner {
    background: #016FB9;
    width: 100%;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.contentHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    /* width: 100%; */
    padding: 1em;
}

.welcomeHome {
    color: #fafafa;
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-family: Bebas Neue, 'Arial Narrow Bold', sans-serif;
}

.titleHome {
    height: 100px;
    font-size: 2.8rem;
    margin-bottom: 5px;
    padding-left: 10px;
    background: linear-gradient(90deg, rgba(46, 47, 50, 0.8) 50%, rgba(54, 44, 44, 0) 74.71%);
}
.homeName{
    padding: 0;
    color: #fafafa;
    font-family: Bebas Neue, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
}

.subtitleHome{
    height: 100px;
    font-size: 2.2rem;
    margin-top: 5px;
    padding-left: 10px;
    background: linear-gradient(90deg, rgba(46, 47, 50, 0.8) 50%, rgba(54, 44, 44, 0) 74.71%);
}

.homeSubtitle {

    font-family: Bebas Neue, 'Arial Narrow Bold', sans-serif;
    padding-top: 5px;
    letter-spacing: 5px;
    line-height: 1em;
    color: #fafafa;
}


.homeInfo{
    width: 100%;
    height: 100%;
    text-align: left;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;

}

.homeImage{
    width: 50%;
    height: 100%;
}


.homeAbout {
    padding: 5px;
}

.containerHome {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: #016FB9;
}

.copyright {
    color: #000000;
    font-family: Bebas Neue, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;


}

@media screen and (max-width: 750px) {
    #header h1 {
        font-size: 1.2em;
    }

    .homeSubtitle {
        font-size: 1.5rem;
    }
    .homeName{
        font-size: .8rem;
    }

}

@media screen and (max-width: 375px) {

    #header h1 {
        line-height: 1em;
    }

    #header {
        height: 100%;
    }

    .homeImage {
        padding-top: 30px;
        height: 100%;
    }

    .homeInfo {
        height: 100%;
    }

    /* .subtitleHome {
        height: 100%;
    } */

    .contentHeader {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 0;
        height: 100%;

    }

    header {
        padding-top: 0;
    }

    .homeInfo {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 100%;
    }

    .homeName {
        font-size: 1rem;
        text-align: center;
    }

    .inner {
        height: 100%;
    }


    .homeSubtitle {
        font-size: .9rem;
        text-align: center;
        font-weight: 530;
    }

    .subtitleHome {
        padding-top: 1em;
        width: 100%;
        /* width: 340px; */
        
    }

}