/* .home {
    line-height: 1;
} */

.avatar{

    /* border-radius: 100%;
    height: 300px; */
    width: 200px;
    height:300px;
    border-radius:150px;
    border-width: 2.5px;
    border-style: solid;
    border-color: black;
}

header {
    margin-top: 0;
    padding-top: 2.1em;
}

#header > * {
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    width: 100%;
}

#header > .inner {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    margin: 0 0 2em 0;
}

#header h1 {
    /* color: rgba(255, 255, 255, 0.5); */
    font-size: 1.35em;
    line-height: 1.75em;
    margin: 0;
}


.inner {
    /* background: linear-gradient(to bottom, #0B1B32, #fafafa) */
    background-image: url("../../assets/Header/ab.jpg");
    /* , url("../../assets/Header/bg.jpg"); */
}

.contentHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 1em; */
    padding: 1em;
}

.subtitleHome{
    height: 100px;
    font-size: 1.6rem;
}

.homeSubtitle {
    /* font-size: 10px; */
    font-weight: 600;
    line-height: 1em;
    margin: 0 0 1em 0;
    color: #fafafa;
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 22ch;
    /* height: 150px; */

    animation: typing 5s steps(24), blink .9s infinite backwards ;
    overflow: hidden;
}

@keyframes typing {
    from { width:0 }
}

@keyframes blink {
    50% { border-color: transparent }
    
}

.homeInfo{
    width: 100%;
    height: 200px;
    text-align: left;

    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: column; */
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;

}

.homeImage{
    width: 50%;
}

.titleHome {
    height: 100px;
    font-size: 2.8rem;
}
.homeName{
    /* font-size: 15rem; */
    text-align: left;
    /* height: 50%; */
    padding: 0;
    /* color: #016FB9; */
    color: #fafafa;
    /* font-family: Impact, 'Arial Narrow Bold', sans-serif; */
}


.homeAbout {
    padding: 5px;
}

.containerHome {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}