.contTitleSection{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pointer {
    display: flex;
    height: 34px;
    width: 34px;
    border-radius: 100%;
    background-color: #333;
}

.contTitle {
    display: flex;
    gap: 24px;
}