@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.projects{
    width: 100%;
    background: #016FB9;
    font-family: Bebas Neue, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    padding-top: 1.5rem;
    border-top: 1px solid #000000;
}

.projectTitle{
    color: #fafafa;
    font-size: 2.2rem;
    margin-bottom: 0;

}

.containerCard{
    display: flex;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;    
}

.card{
    border-width: 2px;
    border-style: solid;
    border-color: white;
    padding-top: 1.5em;
    height: 50%;
    /* border-radius: 20px; */
    margin: 1.5em;
    
}

.contentInfo{
    padding: 1em;
}

.reactplayer {
    display: flex;
    justify-content: center;
    /* width: 70%; */
}

.containImg{
    height: 60%;
}

.imgNotes{
    height: 400px;
}

.projectButton{

    text-decoration: none;
    background-color: white;
    color: black;
    border: 2px solid #000000;
    padding: 5px;
    font-size: 25px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.projectButton{
    margin-top: 2em;
}


.projectButton:hover {
    background-color: #65A2CB;
    color: white;
}

.projectButtonContainer{
    /* border-bottom: solid 2px #efefef; */
    /* margin: 0 0 4em 0; */
    padding: 0 0 4em 0;
}

.proyect-title{
    color: #000000
}

.infoProjects {
    padding: 0 2em 0 2em;
    font-size: 1.2rem;
    color: #000000;
}

@media  screen and (max-width: 750px) {
    .reactplayer {

        width: 500px;
        padding-left: 5.5em; 
    }

    /* .player {
        width: 500px;
    } */
}


@media screen and (max-width: 375px) {
    
    .projects {
        width: 100%;
    }


    .containerCard {
        width: 100%;
        /* margin: 5px 5px 5px 5px; */
    }
    
    .card {
        width: 100%;
        margin: 0;
        border-width: 0px;
        border-style: solid;
        border-color: white;
        border-radius: 0;
        /* border-bottom: solid 2px #efefef; */
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);

    }


    .reactplayer {
        width: 300px;
        padding-left: 2.5em;
    }
}