@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.containerContact{
    display: flex;
	justify-content: center;
    font-family: Bebas Neue;
    letter-spacing: 2px;
    color: #fff;
    background: #000000;
    /* color: #000; */
    /* background: #E1DEE3; */
    height: 100%;
    padding-bottom: 2rem;
}


.infoContact{
    margin-top: 2rem;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
}

.formContact{
    margin-top: 2rem;
    width: 50%;
    height: 100%;
    display: flex;
	flex-direction: column;
	justify-content: center;
    /* border: 1px solid red; */
}

.contTitleForm{
    margin-top: 2.5rem;
}

.form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contInput{
    height: 20%;
    width: 100%;
    padding-top: .5rem;
    /* border: 2px solid red; */

}

.containSubmit{
    height: 10%;    
    padding-bottom: .8rem ;
}

.inputContact {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: .5rem;
    font-size: 1.4rem;
    font-family: Poppins;
    color: #000;
    width: 85%;
    height: 8vh;
}

.inputContact:focus {
    background-color: white;
    box-shadow: 1px 1px 2px 1px black;
}

 /* ***** TEXT AREA ****  */
.contTextarea{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    padding-top: 1rem;
}

.textArea{
    width: 85%;
    height: 20vh;
    border: 1px solid black;
    border-radius: 10px;
    padding: .5rem;
    background-color: #fff;
    color: #000;
    font-size: 1.2rem;
    font-family: Poppins;
}

.textArea:focus{
    background-color: white;
}

.messageLabel {
    color: #000000;
    padding-left: 1.5em ;
    margin-left: 15px;
    height: 20%;
    width: 90%;
}

.containTitle {
    height: 25%;
    padding-top: 20px;
    font-size: 25px;
}

.contactTitle {
    color: #fff;
    font-size: 3rem;
}
.contactDescription {
    color: #fff;
    font-family: Poppins;
    font-size: 1.4rem;
}

.containDescription {
    height: 20%;
    font-size: 20px;
    text-align: justify;
    padding: 20px;
}

.containIcon {
    height: 55%;
    padding: 20px;
}


.cont{
    margin-bottom: 1rem;
}

.icon {
    margin-left: 10px;
    padding: 0;
}

.iconSvg{
    height: 2.5rem;
}

.contactLabel {
    font-size: 20px;
    margin-left: 10px;
    color: #fff;
}

.containName{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    padding-left: 30px;
}

.name{
    font-size: 15px;
    margin-left: 10px;
    color: #000000;
}

.containEmail {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    padding-left: 30px;
}

.email {
    font-size: 15px;
    margin-left: 10px;
    color: #000000;
}

/* -------- BOTON SUBMIT -------- */


.contBtnSubmit{
    margin-top: 1rem;
    width: 85%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
}

.btn {
    width: 30%;
    background: white;
    font-family: Poppins;
    color: black;
    border-radius: 10px;
    font-size: 1.4rem;
    padding: 4px;
}

.btn:hover{
    background: #ebebeb;
}

.sendBtn{
    height: 2rem;
    padding-left: .5rem;
}

@media (max-width: 480px){

    .containerContact{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .infoContact{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cont{
        width: 90%;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        /* align-items: center; */
    }

    .contLabel{
        width: 100%;
    }

    .contDescription{
        width: 90%;
    }

    .containIcon{
        padding: 0;
    }

    .formContact{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    

    .contBtnSubmit{
        width: 90%;
    }

    .btn{
        width: 50%;
    }
}